* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background: #181818;
}

/* Header */
header {
    height: 80px;
    background: #202020;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.search-box {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.search-box input {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background: #303030;
    color: white;
    width: 40%;
}

.search-box button {
    padding: 8px;
    background: #404040;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.profile {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile button {
    padding: 5px 8px;
    background: #404040;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.profile #notify {
    padding: 8px 8px;
    border-radius: 30%;
}

.profile #notify:hover {
    background-color: #404040;
    color: white;
}

/* Layout + Sidebar + Main */
.layout {
    display: flex;
}

.sidebar {
    width: 220px;
    background: #202020;
    padding-top: 20px;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #383838;
}

.sidebar.hide-text span {
    display: none;
}

.sidebar.collapsed {
    width: 100px;
}

/* Main */
main {
    flex: 1;
    padding: 10px;
    background: #202020;
    min-height: calc(100vh - 80px - 200px);
    /* header + footer taxminiy balandlik */
}

#link-row {
    padding: 10px 20px;
    width: 100%;
}

.ul-links ul {
    display: flex;
    justify-content: space-between;
}

.nav-item a {
    color: white;
}

#video-container {
    padding: 10px 20px;
    width: 100%;
}

.inside-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.inside-container iframe {
    border-radius: 5px;
}

.inside-container .card {
    height: 16rem;
    width: 24rem;
    background-color: #202020;
    border: none;
}

.inside-container .card p {
    color: white;
}

/* Footer */
footer {
    background: #afacac;
    color: white;
    padding: 40px 20px;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #131212;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    color: white;
}

/* Responsive Qilish Uchun */

@media (max-width: 1200px) {
    .ul-links ul {
        display: none;
    }
}


@media (max-width: 768px) {
    .search-box input {
        width: 100px;
    }

    .navbar {
        gap: 10px;
    }

    .sidebar ul {
        padding-left: 0px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

}

@media (max-width: 564px) {
    .navbar {
        align-items: center;
    }

    .search-box input {
        display: none;
    }

    .sidebar {
        height: 100vh;
    }

    .inside-container .card {
        width: 16rem;
    }
}