* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #2b2a2a;
}

header {
    width: 100%;
    background-color: #2b2a2a;
    color: white;
    padding-top: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    height: 40px;
}

.logo-text {
    font-weight: 600;
    font-size: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    justify-content: center;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #444;
    border-radius: 25px;
    overflow: hidden;
    background-color: #121212;
    max-width: 100%;
}

.search-box input {
    padding: 10px 15px;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    width: 100%;
    width: 400px;
}

.search-btn {
    padding: 10px 15px;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
}

.mic-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.profil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profil .create {
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #fff;
    color: #0077cc;
    border: none;
    cursor: pointer;
}

.profil #notify {
    font-size: 20px;
    position: relative;
    color: white;
}

.profil #icon {
    font-size: 32px;
}


@media (max-width: 992px) {
    .search-box input {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .navbar {
        align-items: stretch;
    }

    .search-container {
        justify-content: center;
    }

    .search-box input {
        width: 120px;
    }
}

@media (max-width: 564px) {

    .search-box {
        justify-content: center;
    }

    .search-box input {
        width: 0;
        opacity: 0;
        padding: 0;
        display: none;
    }

    .search-box {
        border-radius: 50%;
        width: 40px;
    }

    .search-container {
        gap: 5px;
    }
}