* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --main-bg: #ffffff;
    --main-text: #000000;
    --header-bg: #ffffff;
    --header-text: #000000;
}



body.dark {
    --main-bg: #181818;
    --main-text: #ffffff;
    --header-bg: #000000;
    --header-text: #ffffff;
}


header,
footer {
    background-color: var(--header-bg);
    color: var(--main-text);
}

main,
#main-section,
#main-section #conatiner,
#main-section .text-container,
main #second-section,
#second-section .about-column,
#third-section,
#third-section .down-container,
.question-column {
    background-color: var(--main-bg);
    color: var(--main-text);
}








header {
    background-color: #202020;
    padding: 15px;
    color: whitesmoke;
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding-top: 10px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: all 1s ease;
}




.logo img {
    width: auto;
    height: 40px;
    display: block;
}

.toggle {
    display: none;
}



/* Main */


#main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#main-section #container {
    background-image: url(../images/bg_header.jpg);
    background-position: center;
    background-size: cover;
    padding: 0px 20px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
}

.text-row {
    color: white;
}

.text-container {
    background-color: rgb(228, 239, 239);
    padding: 30px 0px;
    text-align: center;
    width: 100%;
}


#second-section {
    background-color: rgb(206, 199, 199);
    padding: 30px 20px;
}

#second-section h2 {
    font-weight: 200;
    text-align: center;
}

.about-column {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column-row {
    text-align: center;
    padding: 10px 0px;
}

.column-row i {
    font-size: 32px;
}

.column-row p {
    width: 300px;
}

#third-section {
    padding: 30px 30px;
}

.question-column {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 25px;
}

.down-container {
    background-color: rgb(233, 227, 227);
    padding: 40px;
}

.down-container button {
    float: right;
    padding: 0px 5px;
    border-radius: 5px;
    border: orange;
    background-color: orange;
}


/* Footer */

.footer {
    background: #202020;
    color: white;
    padding: 40px 20px;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1 1 250px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}


.footer .copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #aaa;
}

/* Responsive */


@media (max-width:992px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #202020;
        position: absolute;
        top: 65px;
        right: 40px;
        padding: 20px;
        border-radius: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }


    .logo img {
        height: 60px;
    }

    .toggle {
        display: block;
        height: 60px;
        font-size: 48px;
    }
}


@media (max-width:576px) {
    .text-row {
        text-align: center;
    }
}