* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #202020;
    padding: 15px;
    color: whitesmoke;
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding-top: 10px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: all 1s ease;
}

.nav-links a:hover {
    transform: translateY(-20px);
}



.logo img {
    width: auto;
    height: 40px;
    display: block;
}



/* Main */

main {
    height: 80vh;
}

#main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#main-section #container {
    background-image: url(./images/bg_header.jpg);
    background-position: center;
    background-size: cover;
    padding: 0px 20px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
}

.text-row {
    color: white;
}

.text-container {
    background-color: rgb(228, 239, 239);
    padding: 30px 0px;
    text-align: center;
    width: 100%;
}


#second-section {
    background-color: rgb(206, 199, 199);
    padding: 30px 20px;
}

#second-section h2 {
    font-weight: 200;
    text-align: center;
}

.about-column {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column-row {
    text-align: center;
    padding: 10px 0px;
}

.column-row i {
    font-size: 32px;
}

.column-row p {
    width: 300px;
}

#third-section {
    padding: 30px 30px;
}

.question-column {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 25px;
}

.down-container {
    background-color: rgb(233, 227, 227);
    padding: 40px;
}

.down-container button {
    float: right;
    padding: 0px 5px;
    border-radius: 5px;
    border: orange;
    background-color: orange;
}




/* Responsive */

@media (max-width:768px) {

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: none;
    }

    .logo img {
        height: 60px;
    }



}


@media (max-width:576px) {
    .text-row {
        text-align: center;
    }
}