* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #202020;
    padding: 15px;
    color: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding-top: 10px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: all 1s ease;
}

.nav-links a:hover {
    transform: translateY(-20px);
}



.logo img {
    width: auto;
    height: 40px;
    display: block;
}









/* Responsive */

@media (max-width:768px) {

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: none;
    }

    .logo img {
        height: 60px;
    }



}