* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background: url(../Images/hero-1.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

/* Sub-header */

.sub-header {
  background-color: #434141;
  display: flex;
  justify-content: space-between;
}

.sub-left {
  display: flex;
  align-items: center;
}

.sub-left .sub-item-1 img {
  width: 150px;
  padding: 15px;
}

.sub-left .sub-item-2 {
  background-color: #202020;
  color: white;
  cursor: pointer;
  height: 100%;
  padding: 20px;
}

.sub-right {
  display: flex;
  align-items: center;
  color: white;
}

.sub-right .sub-right-item,
.sub-right-item-shop,
.sub-right-item-x {
  font-size: 24px;
  border: 1px solid rgb(131, 128, 128);
  background-color: #434141;
  height: 100%;
  align-content: center;
  padding: 10px;
}

.sub-right-item-shop {
  background-color: goldenrod;
}

.sub-right-item-x {
  cursor: pointer;
}

.none-active {
  display: none;
}

/* Main Header */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}

.main-header .logo img {
  width: 180px;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  transition: all 1.9s ease-in-out;
}

.nav-links ul a:hover {
  border-bottom: 2px solid rgb(151, 85, 231);
}

.nav-links ul a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.last-links {
  display: flex;
  gap: 25px;
}

.last-links .icon {
  color: white;
  cursor: pointer;
}

/* Hidden Menu */

.hidden-menu {
  background-color: rgb(72, 73, 72);
  max-width: 100%;
  width: 74%;
  display: flex;
  justify-content: end;
  padding: 10px;
  position: relative;
  left: 14%;
}

.forClose {
  z-index: 1;
}

.active-menu {
  display: flex;
  justify-content: space-between;
}

.hidden-menu button {
  background-color: rgb(42, 40, 40);
  color: white;
  padding: 10px;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}

.menu {
  padding: 40px 15px;
  display: none;
}

.opened-menu {
  display: block;
}

.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu ul a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.menu ul a:hover {
  background-color: white;
  color: #202020;
}

/* Hero */

.hero {
  position: absolute;
  display: flex;
  align-items: center;
  top: 45%;
  left: 13%;
}

.hero-container {
  padding: 0 5%;
  max-width: 500px;
  color: white;
}

.hero-text {
  font-size: 18px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.hero-title {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-btn {
  display: inline-block;
  padding: 12px 25px;
  border: 2px solid #00c8ff;
  text-decoration: none;
  color: white;
  transition: all 0.28 ease;
  margin-bottom: 30px;
  transform: translateZ(0);
}

.hero-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 25 rgba(0, 153, 255, 0.45);
  border-color: yellow;
}

.hero-indicator span {
  opacity: 0.3;
  transition: 0.3s;
  margin: 5px;
}

.hero-indicator span.active {
  opacity: 1;
}

.hero-indicator-2 span {
  opacity: 0.3;
  transition: 0.3s;
  margin: 9px;
}

.hero-indicator-2 span.active {
  opacity: 1;
}

.hero-container .animate {
  animation: fly 0.9s ease forwards;
}

@keyframes fly {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contact-header */

#contact-header {
  background: url(../Images/img3.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.contact-header {
  color: white;
  position: absolute;
  left: 43%;
  top: 33%;
}

.contact-header h1 {
  font-size: 45px;
}

.contact-header p {
  font-size: 16px;
  margin-left: 52px;
}

.contact-header p span {
  opacity: 0.6;
}

/* Main */

/* Service-section */

#service-section {
  width: 100%;
  padding: 40px 20px;
  background-color: rgb(27, 7, 43);
  color: white;
}

#service-section .main-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.left-part {
  width: 38%;
  padding-left: 40px;
}

.left-part span {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.left-part h1 {
  margin-bottom: 16px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.left-part .service-text {
  color: white;
  line-height: 1.5;
  margin-bottom: 35px;
}

.left-part a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  transition: all 0.7s ease;
  transform: translateZ(0px);
  display: block;
  width: 200px;
}

.left-part a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25 rgba(0, 153, 255, 0.45);
  border-color: yellow;
}

.rightPart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 65%;
}

.right-part-item {
  padding: 20px;
  display: block;
  margin-bottom: 10px;
}

.right-part-item i {
  color: white;
  font-size: 30px;
  display: block;
  margin-bottom: 12px;
  padding: 18px 45px 16px 18px;
  border: 1px solid rgb(134, 134, 231);
  transition: all 0.7s ease;
}

.right-part-item i:hover {
  transform: rotate(45deg);
}

.right-part-item h2 {
  color: white;
  font-size: 24px;
  margin: 0 0 5px;
}

.right-part-item p {
  font-size: 15px;
  letter-spacing: 1px;
}

/* Contact Page Main */

#map-section {
  padding: 40px 20px;
  background-color: rgb(33, 5, 52);
}

.map-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.first-map-container {
  color: white;
  padding: 10px 45px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.map-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.map-item .map-icon {
  border: 1px solid white;
  border-radius: 60%;
  padding: 16px 16px;
  font-size: 30px;
}

.second-container {
  display: flex;
  gap: 30px;
  padding: 15px 25px;
}
.left,
.right {
  flex: 1 1 200px;
}

.right h1 {
  color: white;
  margin-bottom: 15px;
}

.left img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input,
textarea {
  padding: 10px;
  font-size: 14px;
  height: 50px;
  background-color: rgb(33, 11, 48);
  border: 1px white;
  color: white;
}
.second-container button {
  padding: 10px;
  background: rgb(112, 112, 205);
  color: white;
  border: none;
  cursor: pointer;
}

/* Contact Page Footer */

footer {
  color: #fff;
  padding: 20px 0;
  background-color: rgb(16, 2, 27);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 30px 20px;
}

.footer-item-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid white;
}

.image {
  flex: 1;
  max-width: 200px;
}

.image img {
  width: 100%;
  height: auto;
}

.footer-icons i {
  color: white;
  background-color: rgb(8, 9, 45);
  text-align: center;
  height: 40px;
  width: 40px;
  padding-top: 12px;
  border-radius: 70%;
}

.footer-item-third {
  justify-content: center;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 25px;
}

.footer-links {
  display: flex;
  gap: 40px;
  padding: 40px 0px;
}
.footer-block {
  flex: 1 1 220px;
}

.footer-block ul {
  list-style: none;
  padding: 0;
}

.footer-block h4 {
  margin-bottom: 24px;
}

.footer-block p {
  margin-bottom: 30px;
}

.footer-block li {
  margin-bottom: 10px;
}
.footer-block input {
  padding: 8px;
  width: 100%;
}

.input {
  display: flex;
}

.input input {
  border-radius: 0px;
}

.input i {
  color: white;
}

.input button {
  background-color: #00c8ff;
  padding: 12px;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

/* Fresh section */

#fresh-section {
  width: 100%;
  background-image: url(../Images/img2.jpg);
  background-position: center;
  background-size: cover;
  padding: 80px 60px;
  color: white;
  position: relative;
}

.fresh-section-container {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fresh-section-container h1 {
  font-size: 40px;
}

.fresh-section-container h4 {
  opacity: 0.7;
  margin-bottom: 20px;
}

.fresh-section-container a {
  text-decoration: none;
  color: white;
  max-width: 250px;
  width: 100%;
  background-color: #00c8ff;
  padding: 15px;
  text-align: center;
}

#image-section {
  width: 100%;
  padding: 70px 0;
  background: url(../Images/img3.jpg);
  background-position: center;
  background-size: cover;
}

.image-section-container {
  box-sizing: border-box;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 30px;
  position: relative;
  margin-top: 20px;
}

.img-container {
  display: flex;
  align-items: start;
  padding: 70px 0px;
  padding-bottom: 0px;
}

.img-title {
  position: absolute;
  top: -10px;
  color: white;
}

.img-title h4 {
  opacity: 0.7;
  font-size: 16px;
}

.img-item:nth-child(1) {
  margin-top: 0px;
}
.img-item:nth-child(2) {
  margin-top: -50px;
}
.img-item:nth-child(3) {
  margin-top: -100px;
}
.img-item:nth-child(4) {
  margin-top: -150px;
}

.img-item img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 360px;
}

.img-text {
  position: absolute;
  right: 10%;
  bottom: 0;
  text-align: right;
  top: 80%;
}

.img-text a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  transition: all 0.7s ease;
  transform: translateZ(0px);
  display: block;
}

.img-text a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25 rgba(0, 153, 255, 0.45);
  border-color: yellow;
}

/* form section */

#form-section {
  width: 100%;
  padding: 60px 0;
  background-color: #0d0a2c;
  border: 1px solid rgb(36, 25, 89);
}

.form-section-container {
  display: flex;
  padding: 70px 0px;
  justify-content: space-evenly;
}

.form-item {
  background-color: #2a154a;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  transform: rotate(45deg);
  border: #00c8ff 1px solid;
}

.form-content {
  text-align: center;
  transform: rotate(-45deg);
}

.form-item:nth-child(1) {
  margin-top: 0px;
}
.form-item:nth-child(2) {
  margin-top: -50px;
}
.form-item:nth-child(3) {
  margin-top: 0px;
}
.form-item:nth-child(4) {
  margin-top: -50px;
}

.form-item .form-icon {
  color: rgb(164, 173, 255);
  font-size: 45px;
  margin-bottom: 16px;
}

.form-text {
  color: white;
  text-align: center;
}

.form-text p {
  font-size: 16px;
}

/* Carousel Main */

#main-carousel {
  padding: 40px 0;
  background-color: #0d0a2c;
  width: 100%;
}

.main-carousel-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  color: white;
}

.carousel-text span {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
}

.carousel-line {
  height: 4px;
  background-color: #00c8ff;
  margin-top: 12px;
  width: 100px;
}

.carousel-container {
  width: 73%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 23px;
}

.carousel-item {
  cursor: pointer;
  flex: 0 0 310px;
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 42px;
  background-color: #0d0a2c;
  color: white;
  border: #00c8ff 1px solid;
}

.carousel-item:hover {
  background: url(../Images/bg\ dance.png);
  background-size: cover;
  background-position: center;
}

.carousel-item h2 {
  font-size: 20px;
  line-height: 1.2;
}

.carousel-item span {
  opacity: 0.6;
  font-size: 14px;
}

.carousel-item p {
  font-size: 15px;
  opacity: 0.7;
  letter-spacing: 1px;
}

.carousel-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* About Carousel */
#main-carousel-about {
  padding: 40px 0;
  background: url(../Images/testimonial-bg.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.carousel-container-about {
  width: 83%;
  overflow: hidden;
}

.carousel-track-about {
  display: flex;
  transition: transform 0.5s ease;
  gap: 23px;
}

.carousel-item-about {
  cursor: pointer;
  flex: 0 0 360px;
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 32px;
  background-color: transparent;
  color: white;
  align-items: center;
}

.carousel-item-about p {
  letter-spacing: 1px;
  border: 1px solid #577f8a;
  padding: 30px;
}

.img-about {
  display: flex;
  color: white;
  gap: 15px;
  align-items: center;
}

.img-about img {
  border-radius: 100%;
}

/* images section */

#images-section {
  background-color: #0d0a2c;
  width: 100%;
  padding: 0px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 220px;
  box-sizing: border-box;
  gap: 5px;
  position: relative;
}

.img-grid,
.img-grid-big {
  position: relative;
  overflow: hidden;
}

.img-grid img,
.img-grid-big img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}

.img-grid:hover img,
.img-grid-big:hover img {
  filter: brightness(60%);
}

.overlay {
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  padding: 12px 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  transition: 0.35s ease;
}

.img-grid:hover .overlay,
.img-grid-big:hover .overlay {
  bottom: 0;
}

.img-grid-big {
  grid-row: span 2;
}

/* About Section */

#about-section {
  width: 100%;
  padding: 40px 0px;
  background-color: #0d0a2c;
}

.about-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  padding-left: 90px;
}

.left-about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  width: 100%;
}

.big-image {
  grid-row: 1/3;
}

.big-image img,
.small-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-image {
  grid-column: 2;
  grid-row: 1;
}

.small-image:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

.right-about-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: white;
}

.text-right p {
  opacity: 0.9;
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}

.text-right h2 {
  font-size: 36px;
  margin-bottom: 16px;
}

.line-about {
  background-color: #00c8ff;
  height: 5px;
  width: 70px;
}

.about-icons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 75%;
}

.icons-item i {
  color: white;
  font-size: 30px;
  display: block;
  margin-bottom: 18px;
  padding: 18px 45px 16px 18px;
  border: 1px solid rgb(134, 134, 231);
  transition: all 0.7s ease;
}

.icons-item i:hover {
  transform: rotate(45deg);
}

.icons-item h2 {
  margin-bottom: 20px;
}

.icons-item p {
  line-height: 1.2;
}

.bottom-text {
  line-height: 1.4;
  letter-spacing: 1px;
  width: 100%;
}

/* For Some Responsive */

@media (max-width: 992px) {
  .main-header {
    justify-content: center;
  }

  .main-header .logo img {
    width: 300px;
  }

  .nav-links {
    display: none;
  }

  .last-links {
    display: none;
  }

  .contact-header {
    left: 39%;
    top: 40%;
  }

  .left img {
    max-width: 100%;
    height: auto;
  }
  input,
  textarea {
    font-size: 13px;
    padding: 8px;
  }

  .img-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-item:nth-child(n) {
    margin-top: 0 !important;
  }

  .img-text {
    top: 97%;
  }

  .form-section-container {
    padding: 0px 70px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .form-item {
    transform: rotate(0deg);
  }

  .form-content {
    transform: rotate(0deg);
  }

  .form-item:nth-child(n) {
    margin-top: 0 !important;
  }

  .container-about {
    flex-wrap: wrap;
  }

  .item-one img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .item-big-one img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .main-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-part {
    width: 90%;
  }

  .rightPart {
    width: 100%;
  }

  .about-container {
    flex-direction: column;
  }

  .left-about-container {
    width: 80%;
  }

  .carousel-item {
    flex: 0 0 calc(50%-150px);
  }

  .carousel-container-about {
    width: 87%;
  }

  .carousel-track-about {
    gap: 16px;
  }

  .carousel-item-about {
    flex: 0 0 calc(50%-150px);
  }
}

@media (max-width: 768px) {
  .first-map-container {
    flex-direction: column;
  }
  .map-item {
    flex-direction: column;
  }

  .map-item p {
    text-align: center;
  }

  .second-container {
    flex-direction: column;
  }
  .left,
  .right {
    flex: 1 1 100%;
  }

  .footer-links {
    flex-wrap: wrap;
  }

  .img-text {
    top: 99%;
  }

  #images-section {
    grid-template-columns: auto auto;
  }

  .about-title h2 {
    font-size: 30px;
  }

  .about-title span {
    font-size: 14px;
  }
}

@media (max-width: 564px) {
  .sub-right {
    display: none;
  }

  .sub-header {
    justify-content: center;
  }

  .hero-container {
    max-width: 300px;
  }

  .hero-title {
    font-size: 30px;
  }

  .contact-header {
    left: 32%;
    top: 40%;
  }

  .footer-item-one {
    flex-direction: column;
    gap: 10px;
  }

  .footer-container {
    justify-content: center;
  }

  .fresh-section-container h1 {
    font-size: 24px;
  }

  .fresh-section-container a {
    font-size: 12px;
  }
  #images-section {
    grid-template-columns: auto;
  }

  .about-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-title h2 {
    font-size: 26px;
  }

  .about-title span {
    font-size: 10px;
  }

  .about-items {
    flex-wrap: wrap;
    justify-content: start;
  }

  .rightPart {
    grid-template-columns: auto;
  }

  .right-about-container {
    justify-content: center;
  }

  .about-container {
    padding-left: 40px;
  }

  .about-icons {
    flex-wrap: wrap;
  }

  .carousel-item {
    flex: 0 0 100%;
  }

  .carousel-item-about {
    flex: 0 0 100%;
  }
}
